*{
    margin: 0;
    padding: 0;
}

/*classes de input*/

#input-info{
/*--------------------------*/
    background-color: 
    #38343c;
    color: aliceblue;
    border: #171718;
    /*--------------------------*/
    font-size: medium;
}

#input-info:focus {
    /*Estilos quando o input está em foco*/
    outline: 1px solid rgb(136, 134, 134);
    background-color: #28282b;
    color: antiquewhite;
}

#input-info:hover {
    /*Estilos quando o input está em foco*/
    background-color: #262627;
}

#input-info::placeholder {
    color: rgb(116, 115, 114);
}

/*-------------------------------------------*/

/*configuraçoes de exibiçao de estatísticas*/

#showTemp{
    color: aliceblue;
    /*-----------------------------------*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
}

#divCountryName{
    display: flex;
    color: aliceblue;
    /*-----------------------------------*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -280%);
}

#weather{
    display: flex;
    color: aliceblue;
    /*-----------------------------------*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
}

#sigle{
    margin-left: 5px;
}


/*-------------------------------------------*/

/*configuraçao botao de pesquisa*/

.material-symbols-outlined{
    /*símbolo*/
    padding-top: 5px;
    /*------------------------------*/
    color: rgb(161, 158, 154);
}

#buttonSearch{
    height: 43px;
}

/*configuraçoes de exibiçao de barra de pesquisa*/
#searchBar{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
}

/*.centralizar-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

/*------------------------------------------------*/